/**
* Colors
*
* #0A2342
* #2CA58D
* #FFFDF7
*/

/*
* Width-Min: 1200px before switching to mobile layout
* add profileMobile and bioMobile
*/



/* Establish Variables */
:root {
  --button-text: #6D2FFB;
  --button-border: #6D2FFB;
  --button-background: white;
  --button-text-hover: white;
  --button-border-hover: #6D2FFB;
  --button-background-hover: #6D2FFB;
  --font-family-normal: 'Lucida Console';
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size-title: 40px;
  --font-size-subtitle: 30px;
  --font-size-normal: 18px;
}

/* Page Styling */
* {
  box-sizing: border-box;
}

/* Buttons */
a {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-normal);
  color: var(--button-text);
  background-color: var(--button-background);
  border-color: var(--button-border);
  border-style: solid;
  text-decoration: none;
  text-decoration-color: var(--button-text);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
a:hover {
  color: var(--button-text-hover);
  background-color: var(--button-background-hover);
  border-color: var(--button-border-hover);
}
/* Text */
h1 {
  font-family: var(--font-family-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
}
h2 {
  font-family: var(--font-family-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subtitle);
}
h5 {
  font-family: var(--font-family-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
}
p {
  font-family: var(--font-family-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
}
li {
  font-family: var(--font-family-normal);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
}
/* NavBar */
.navbar {
  display: flex;
  padding: 20px;
  background-color: white;
}
.logo {
  font-size: 50px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-normal);
}
.box {
  display: flex;
  align-items: center;
  gap: 2px;
}
.box::after {
  content: '';
  width: 5px;
  height: 40px;
  margin-bottom: 10px;
  background: black;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

/* NavButtons */
#home {
  scroll-margin-top: 110px;
}
#toolkit {
  scroll-margin-top: 120px;
}
#projects {
  scroll-margin-top: 120px;
}

/* Body */
body {
  padding-top: 110px;
  background-color: whitesmoke;
}

/* Profile */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.profileImg {
  width: 20%;
  height: 20%;
  margin: 30px;
}
.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%
}

/* Toolkit */
#toolkit {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#toolkit .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#toolkit .row {
  justify-content: center;
  width: 100%;
}
#toolkit .col {
  width: 100%;
  height: 100;
}
#toolkit img {
  width: 100%;
  height: 100%;
}


/* Projects */
.col-xl-6 {
  margin-bottom: 20px;
}
.col-md-12 {
  margin-bottom: 20px;
}
.modal-dialog {
  width: 100%;
}
.modal-body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 20px;
}
.modal-body .tech-stack {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-content: center;
}
.tech-stack p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 5px;
}
.modal-body a {
  float: right;
}


/* Contact */
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 30px;
  background-color: white;
  width: 50%;
}
.contact a {
  border-style: none;;
}
.contactInfo {
  text-align: left;
  float: center;
}
.social-media a {
  border-radius: 15px;
}
.social-media a:hover {
  background-color: white;
  box-shadow: 5px 5px 10px black;
}


/* Mobile */
.profileMobile {
  flex-direction: column;
  align-items: center;
  width: auto;
  text-align: center;
  padding: 20px;
}
.bioMobile {
  width: auto;
}